In [3]:
import pandas as pd
import numpy as np

In [5]:
Data = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

In [6]:
Data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
Data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [12]:
Data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [11]:
Data['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

Label Encoding

In [15]:
from sklearn import preprocessing
Data1 = Data.copy()
label_enc = preprocessing.LabelEncoder()
Data1['species'] = label_enc.fit_transform(Data1['species'])
Data1

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

One Hot Encoding

In [16]:
Data = pd.get_dummies(data= Data, columns=(['species']))
Data.convert_dtypes

<bound method NDFrame.convert_dtypes of      sepal_length  sepal_width  petal_length  petal_width  species_setosa  \
0             5.1          3.5           1.4          0.2               1
1             4.9          3.0           1.4          0.2               1
2             4.7          3.2           1.3          0.2               1
3             4.6          3.1           1.5          0.2               1
4             5.0          3.6           1.4          0.2               1
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3               0
146           6.3          2.5           5.0          1.9               0
147           6.5          3.0           5.2          2.0               0
148           6.2          3.4           5.4          2.3               0
149           5.9          3.0           5.1          1.8               0

     species_versicolor  species_virginica
0                     0                  0
1                     0                  0
2                     0                  0
3                     0                  0
4                     0                  0
..                  ...                ...
145                   0                  1
146                   0                  1
147                   0                  1
148                   0                  1
149                   0                  1

[150 rows x 7 columns]>

In [17]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sepal_length        150 non-null    float64
 1   sepal_width         150 non-null    float64
 2   petal_length        150 non-null    float64
 3   petal_width         150 non-null    float64
 4   species_setosa      150 non-null    uint8
 5   species_versicolor  150 non-null    uint8
 6   species_virginica   150 non-null    uint8
dtypes: float64(4), uint8(3)
memory usage: 5.3 KB